---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dai N">
  <main>
    <h1 class="text-gradient">Dai Nguyendo</h1>
    <p>Studied Geography and now into problem solving with code.</p>
    <ul role="list" class="link-card-grid">
      <li>Loom</li>
      <li>Quartet Health</li>
      <li>Blue Raster</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
